:root {
    --first-font:'Raleway', sans-serif;
    --second-font: 'Ubuntu', sans-serif;
    font-size: 10px;
}

*{
    margin:0;
    padding: 0;  
}

.container {
    max-width: 1240px;
    margin: 0 auto;
}

.navbar {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.aside-nav {
    box-sizing: border-box;
    align-self: end;
    padding-bottom: 10px;
    padding-left: 25px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.8rem;
    letter-spacing: 0.15 rem;
    color: #515151;
    
}

.aside-nav span {
 padding-left: 5px;
 font-family: var(--first-font);
}

.bar-menu {
    display: none;
    top: 10px;
    right: 25px;
    position: absolute;
    font-size: 2.4rem;
    padding-bottom: 10px;
}

.nav-desktop {
    box-sizing: border-box;
    
}

.nav-desktop ul {
    display: flex;
}

.nav-desktop ul li{
    text-decoration: none;
    padding: 48px 0px 10px 25px;
    list-style: none;
}

.nav-desktop ul li:nth-of-type(4){
   padding-right: 25px;
}

.nav-desktop ul li a{
    font-family: var(--first-font);
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.1rem;
    letter-spacing: 0.02rem;
    text-decoration: none;
    color: #515151;
}

.nav-desktop ul li a:hover{
    color:#FF9A3D;
}

.large {
    max-width: 1440px;
    margin: 0 auto; 
    
}

.banner {
  
    position:relative;
    background-image: url(../photo/cover\ photo.png) ;   
    background-size: cover;
    background-position: center;
    height: 585px;
    color: white;
    z-index: -2;

}

.opacity-banner {
    position:absolute;
    background-image: url(../photo/cover\ layer.png) ;
    background-size: cover;
    background-position: center;
    mix-blend-mode: lighten;
    height: 585px;
    width:100%;
    opacity: .6;
    z-index: -1;    
}

.banner p:nth-of-type(1) {
    position: relative;
    top: 7.7rem;
    font-family: var(--first-font);
    font-size: 10rem;
    font-weight: bold;
    line-height: 11.7rem;
    letter-spacing: 0.02rem;
    color:#FFC53D;
    text-align: center;
}

.banner p:nth-of-type(2) {
    position: relative;
    top: 7rem;
    font-family: var(--first-font);
    font-size: 3.6rem;
    font-weight: bold;
    line-height: 4.2rem;
    letter-spacing: 0.02rem;
    color:#FFF;
    text-align: center;
}

.small-container {
    display:flex;
    align-items: center;
    justify-content: center; 
}

.social {
  position: relative;
  top: 9rem;
}

.twitter {
    background-color: #fff;
    border-radius: 50%;
    color: #FF9A3D;
    text-align: center;
    font-size: 1.6rem;
    line-height: 2.6rem;
    height: 2.5rem;
    width:  2.5rem;
}

.linkedin {
    margin-left: 1rem;
    background-color: #fff;
    border-radius: 50%;
    color: #FF9A3D;
    text-align: center;
    font-size: 1.6rem;
    line-height: 2.6rem;
    height: 2.5rem;
    width:  2.5rem;
}

.github {
    margin-left: 1rem;
    color: #FFF;
    text-align: center;
    font-size: 2.5rem;
    line-height: 2.5rem;
}

.facebook {
    margin-left: 1rem;
    background-color: #fff;
    border-radius: 50%;
    color: #FF9A3D;
    text-align: center;
    font-size: 1.6rem;
    line-height: 2.6rem;
    height: 2.5rem;
    width:  2.5rem;
}

.container h1 {
    margin-top:3.9rem;
    margin-bottom: 3.9rem;
    font-family: var(--first-font);
    font-size: 3.6rem;
    font-weight: normal;
    line-height: 4.2rem;
    text-align: center;
    letter-spacing: 0.02rem;
    color:#222;
}
.btn-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.big-btn {
    box-sizing: border-box;
    height: 5rem;
    width: 20rem;
    border-radius: 1.5rem;
    background: linear-gradient(270deg, #FFC53D 14%, #FF9A3D 68.5%);
    font-family: var(--first-font);
    font-weight: bold;
    font-size: 1.8rem;
    line-height: 2.1rem;
    text-align: center;
    color: #FFFFFF;
}

.btn-box button:nth-of-type(1) {
    margin-right: 2.5rem;
}

.big-btn:hover {
    background: #fff;    
    color:#FFC53D;
    border: 1px solid #FFC53D;
}

.left-background {
    position: relative;
    margin-top: 5rem;
   
}

.left-shadow{
     background-color: #fafaff;
     /* background-color: purple; */
     height: 430px;
     width: 70%;   
}

.left-shadow h1 {
    padding: 18px 0 18px 150px;
    color: #222;
    font-size: 3.2rem;
    font-family: var(--second-font);
    line-height: 3.7rem;
    letter-spacing: 0.02rem;


}

.about {
    position: absolute;
    /* background-color: #fff; */
    top: 82px;
    right: 100px;
    width: 100%;
    height: 280px;
    color: black;
    background-color: purple;
    display: flex;
}

.sm-box {
    width:33%
}

.right-background {
    position: relative;
    display: flex;
    justify-content: flex-end;
    margin-top: 5rem;
   
}

.right-shadow{
     background-color: #fafaff;
     /* background-color: purple; */
     height: 430px;
     width: 70%;   
}

.right-shadow h1 {
    padding: 18px 0 18px 60px;
    color: #222;
    font-size: 3.2rem;
    font-family: var(--second-font);
    line-height: 3.7rem;
    letter-spacing: 0.02rem;


}

.skills {
    position: absolute;
    /* background-color: #fff; */
    top: 82px;
    right: 100px;
    width: 100%;
    height: 280px;
    color: black;
    background-color: purple;
    display: flex;
}



@media only screen and (max-width: 426px) {

    .aside-nav {
        padding-top: 10px;
    }

    .bar-menu {
        display: block;
        z-index:1;
    }

    #menu {
        display: none;
    }
    .nav-desktop {
        width: 50vw;
        /* height: calc(100vh - 45px); */
        top: 45px;
        right: 0;
        position: absolute;
        background-color:#fff;
        opacity: .8;
    }
 
    .nav-desktop ul {
        display: block;
    }

    .nav-desktop ul li{
        text-decoration: none;
        padding: 15px 0px 15px 0px;
        list-style: none;
        text-align: center;
    }

    .nav-desktop ul li:nth-of-type(4){
        padding-right: 0px;
    }

    .nav-desktop ul li a{
        font-family: var(--first-font);
        font-size: 1.8rem;
        font-weight: bold;
        line-height: 2.1rem;
        letter-spacing: 0.02rem;
        text-decoration: none;
        color: #515151;
    }

    .nav-desktop ul li a:hover{
        color:#FF9A3D;
    }

    .banner p:nth-of-type(1) {
        
        font-size: 6rem;
        line-height: 8rem;
    }
    
    .banner p:nth-of-type(2) {
        font-size: 2.4rem;
        line-height: 3.2rem;
    }
   
    .container h1 {
        font-size: 1.6rem;
        line-height: 2.8rem;
    }

    .btn-box button:nth-of-type(1) {
        margin-right: 0;
        margin-bottom: 1.5rem;
    }
}

@media only screen and (min-width: 427px) and (max-width: 960px) {
    
    .aside-nav {
        padding-top: 10px;
    }

    .bar-menu {
        display: block;
        z-index:1;
    }

    #menu {
        display: none;
    }
    .nav-desktop {
        width: 50vw;
        /* height: calc(100vh - 45px); */
        top: 45px;
        right: 0;
        position: absolute;
        background-color:#fff;
        opacity: .8;
     }
     
    .nav-desktop ul {
        display: block;
    }
    
    .nav-desktop ul li{
        text-decoration: none;
        padding: 15px 0px 15px 0px;
        list-style: none;
        text-align: center;
    }
    
    .nav-desktop ul li:nth-of-type(4){
       padding-right: 0px;
    }
    
    .nav-desktop ul li a{
        font-family: var(--first-font);
        font-size: 1.8rem;
        font-weight: bold;
        line-height: 2.1rem;
        letter-spacing: 0.02rem;
        text-decoration: none;
        color: #515151;
    }
    
    .nav-desktop ul li a:hover{
        color:#FF9A3D;
    }

    .active {
        display: block;
    }

    .banner p:nth-of-type(1) {
        
        font-size: 6rem;
        line-height: 8rem;
    }
    
    .banner p:nth-of-type(2) {
        font-size: 2.4rem;
        line-height: 3.2rem;
    }
   
    .container h1 {
        font-size: 2rem;
        line-height: 3.2rem;
    }
}

@media only screen and (min-width: 961px)  {
    #menu {
        display: flex !important ;
        justify-self: end;
    }

}